/* src/components/HotelResults.module.css */
.hotelCard {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    transition: box-shadow 0.3s, transform 0.3s;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .hotelCard:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .hotelName {
    font-size: 1.75em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .hotelPrice {
    font-weight: bold;
    font-size: 1.25em;
    color: #28a745;
    margin-bottom: 10px;
  }
  
  .hotelRating {
    color: #ffc107;
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .hotelDescription {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
  }
  
  .hotelImage {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }